<div class="cen pad">
	<div class="row grid-x grid-padding-y grid-padding-x">
		<div class="cell large-7 medium-7 callout">
			<div>
				<h5> Items </h5>
				{{#each data.cart.items}}
				<div id="{{this.item._id}}" class="callout" style="max-height: 200px;">

					<div class="clearfix">
						<figure>
							<img style="max-height:120px" class="float-left" src="../images/{{ this.item.image }}">
							<figcaption class="prodata">
								<div class="name">{{ this.item.name }}</div>
								<h6 class="name subheader">${{ this.item.price }}</h6>
								<div class="clearfix">
									<a style="float:right" onclick="remove('{{this.item._id}}')" class="button alert small"> Remove </a>
								</div>
							</figcaption>
						</figure>
					</div>

					<p>Item Quantity : {{ this.qty}} </p>
					<p>Item Price : {{ this.price}} </p>
				</div>
				{{/each}}
				<hr>
				<div id="total" class="panal warning">
					<h5> Total Quantity : {{ data.cart.totalqty }} </h5>
					<h5> Total Price : {{ data.cart.totalprice }} </h5>
				</div>
			</div>
		</div>

		<div class="cell large-5 medium-5 ">
			<div class="grid-x clearfix callout">
				<div class="large-12 medium-12 small-12">
					<form id="payment-form" method="POST" action="/checkouts">
						<label style="color:red;" class="help-text">{{#each messages}} {{this.error}} {{/each }}</label><br>
						<input id="amount" name="amount" type="number" value="{{ data.cart.totalprice }}" placeholder="Enter you amount">
						<div id="dropin-container"></div>
						<input id="nonce" type="hidden" name="payment_method_nonce">
						<button id="submit-button" type="submit" class="button"> Checkout </button>
					</form>
				</div>
			</div>
		</div>

	</div>
</div>

{{> footer}} {{!--
<script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script> --}}
<script type="text/javascript">
	var form = document.getElementById('payment-form');
	var button = document.getElementById('submit-button');
	if (1) {
		document.getElementById('dropin-container').innerHTML = "<h3 class='aside'> Payment Options are not available </h3>";
	} else {
		braintree.dropin.create({
			authorization: '{{ clientToken }}',
			container: '#dropin-container'
		}, function (createErr, instance) {
			form.addEventListener('submit', function () {
				instance.requestPaymentMethod(function (err, payload) {
					// Submit payload.nonce to your server
					if (err) {
						console.log(err);
					}
					document.getElementById('nonce').value = payload.nonce;
					document.onload = function () {
						form.submit();
					}
				});
			});
		});
	}

	 //var checkout = new Demo({
	//	formID: 'payment-form'
	//});

</script>