<div class="borer">
	<div class="title-bar" style="background:#fff;color:#111">
		<div class="title-bar-left">
			<span class="title-bar-title"><h3><b>Robin</b> {{#if auth}} <small>(Admin)</small> {{else}}<small>(Hello Stranger)</small> {{/if}} </h3></span>
		</div>
		<div class="title-bar-right clearfix hide-for-large hide-for-medium">
			<button class="menu-icon" type="button"></button>
		</div>
		<div class="title-bar-right show-for-medium">
			<ul class="menu float-right hide-for-small">
				<li> <a href="/"> Home </a> </li>
				<li> <a href="/users/signin"> Login </a> </li>
				<li> <a href="/users/signup"> Signup </a> </li>
				<li> <a href="/users/profile"> Profile </a> </li>
			</ul>
		</div>
	</div>
</div>

<div class="cen pad">
	<div class="row grid-x grid-padding-y grid-padding-x">
		<div class="cell large-7 medium-7 ">
			<div class="callout">
				<h5> Items in you Cart </h5>
				{{#each data.cart.items}}
				<div id="{{this.item._id}}" class="callout" style="max-height: 200px;">

					<div class="clearfix">
						<figure>
							<img style="max-height:120px" class="float-left" src="../images/{{ this.item.image }}">
							<figcaption class="prodata">
								<div class="name">{{ this.item.name }}</div>
								<h6 class="name subheader">${{ this.item.price }}</h6>
								<div class="clearfix">
									<a style="float:right" onclick="remove('{{this.item._id}}')" class="button alert small"> Remove </a>
								</div>
							</figcaption>
						</figure>
					</div>

					<p>Item Quantity : {{ this.qty}} </p>
					<p>Item Price : {{ this.price}} </p>
				</div>
				{{/each}}
				<hr>
				<div id="total" class="panal warning">
					<h5> Total Quantity : {{ data.cart.totalqty }} </h5>
					<h5> Total Price : {{ data.cart.totalprice }} </h5>
				</div>
			</div>
		</div>

		{{#if auth}}
		<div class="cell large-5 medium-5 ">
			<div class="grid-x clearfix callout">
				<div class="large-12 medium-12 small-12">
					<form id="payment-form" method="POST" action="/checkouts">
						<label style="color:red;" class="help-text">{{#each messages}} {{this.error}} {{/each }}</label><br>
						<label style="pointer-events:none"><b> Payable Amount </b></label>
						<input id="amount" name="amount" type="number" value="{{ data.cart.totalprice }}" placeholder="Enter you amount">
						<div id="dropin-container"></div>
						<input id="nonce" type="hidden" name="payment_method_nonce">
						<button id="submit-button" type="submit" class="button"> Checkout </button>
					</form>
				</div>
			</div>
		</div>
		{{else}}
		<div class="cell large-5 medium-5">
			<div class="grid-x callout">
				<p class="lead"> You have to login to proceed to checkout </p>
				<a href="/users/signin" class="button "> Click here to go to login page </a>
			</div>
		</div>
		{{/if}}

	</div>
</div>

{{> footer}} 
{{!-- <script src="https://js.braintreegateway.com/web/dropin/1.4.0/js/dropin.min.js"></script> --}}
<script type="text/javascript">
	var form = document.getElementById('payment-form');
	var button = document.getElementById('submit-button');
	if (1) {
		document.getElementById('dropin-container').innerHTML = "<h3 class='aside'> Payment Options are not available </h3>";
	} else {
		braintree.dropin.create({
			authorization: '{{ clientToken }}',
			container: '#dropin-container'
		}, function (createErr, instance) {
			form.addEventListener('submit', function () {
				instance.requestPaymentMethod(function (err, payload) {
					// Submit payload.nonce to your server
					if (err) {
						console.log(err);
					}
					document.getElementById('nonce').value = payload.nonce;
					document.onload = function () {
						form.submit();
					}
				});
			});
		});
	}

	 //var checkout = new Demo({
	//	formID: 'payment-form'
	//});

</script>