<div id="content" style="margin: 0 auto" class="grid-x grid-padding-x">
  {{#data }}
  <div class="box1 large-4 medium-6 small-12 cell">
    <div class="box  pad">
      <figure>
        <img src="../images/{{ this.image }}">
        <figcaption class="prodata">
          <div class="name">{{ this.name }}</div>
          <h6 class="name subheader">${{ this.price }}</h6>
          {{!-- <span class="fi-like size-21 favourite"></span> --}}
          <div class="clearfix">
            <a href="../buy/{{ this._id }}" class="button hollow secondary small"> Buy </a>
            <button class="float-right button hollow secondary small" onclick="loadDoc('{{ this._id }}')"><i class="fi-arrows-out size-14"></i></button>
            <button class="float-right button holow secondary small " onclick="addToCart('{{this._id}}')"><i class="fi-shopping-cart size-14"></i></button>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  {{/data }}
</div>