{{#data}}
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 box">
	<div class="product items">
		<div class="product-image" ><img src="/images/suit_jacket.jpg"></div>
		<div class="details">
			<h4 style="font-weight:100;">{{this.name}}</h4>
			{{!-- <p> $ {{this.discount}} </p>
			 <p> $ {{this.price }}  </p>  --}}
			<p>${{this.price}}<a href="../buy/{{ this._id }}" class="btn btn-default btn-sm" role="button" href="#">Buy Now</a></p>
		</div>	
	</div>
</div>
{{/data}}