<div class="row bordr">
  <div style="margin: 0 auto; background: none; " class="large-12 medium-12">
    <div class="pad">
      <h3 style="margin: 0"> <b>  Robin  </b></h3>
      <span> The Summer Clothing Store</span>
      <ul class="menu float-right show-for-medium">
        <li><a href="/">Home</a></li>
        <li><a href="/admin">Sell</a></li>
        <li><a> Account </a></li>
      </ul>
    </div>
  </div>
  <hr>
</div>

<div class="row grid-x" style="display: flex; flex-wrap: wrap;">

  <div class="bordr pad large-4 medium-5 small-12">
    <h3>Buy This Product</h3>
    <figure class="clearfix">
      <img style="max-height: 390px" class="flat-left" src="../../images/{{ pro.image }}">
      <figcaption class="flat-left">
        <h5>{{ pro.name }}</h5>
        <h6>${{ pro.price }}</h6>
      </figcaption>
    </figure>
  </div>

  <div class="bordr pad large-8 medium-7 small-12">
    <h4> Product Description</h4>
    <hr>
    <p>{{ pro.description }}</p><br>
    <div style="padding:0" class=" large-3 medium-4 small-5">
      <label>Select Size</label>
      <select>
        <option value="husker">M</option>
        <option value="starbuck">L</option>
        <option value="hotdog">XL</option>
        <option value="apollo">XXL</option>
      </select>
    </div>
    <h6> <b> Price :</b> {{ pro.price }}</h6>
    <h6> <b> Discount :</b> {{ pro.discount }}% </h6>
    <h6> <b> Quantity : </b> {{ pro.quantity }} Items Left</h6>
    <h6> <b> Payable Amount :</b> {{ pro.pa }}</h6>
    <div class="clearfix">
      <button class="button primary"> Add to Cart </button>
      <span class="large-4"> </span>
      <button class="button float-right"> Place Order </button>
    </div>
  </div>

</div>


<div class="row pad ">
  <div>
    <h2> Similar Products </h2>
    <hr> {{>content }}
  </div>
</div>

{{> model }} 


<div class="row pad large-12 medium-12 small-12">
  <div class="">
    <h3 style="display:inline" class="large">Rating Reviews</h3>
    <button style="float: right" class="button alert"> Write A Review </button>
    <hr>

    <div class="review-box pad large-12">
      <h6><b>Great Product</b></h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nisi, consequatur! Ipsam dolor iste aliquam velit eveniet,
        temporibus explicabo totam repellat nemo, placeat quibusdam reiciendis sunt? Dolores itaque dolorum, perspiciatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam aut suscipit alias! Est cupiditate itaque dolorem
        magni. Ab, animi sed deserunt iure, labore accusamus saepe officia fugit sint aperiam porro. Lorem ipsum dolor sit
        amet, consectetur adipisicing elit. Ad, molestias sunt ratione? Ullam officiis hic, sapiente dolorum totam animi
        obcaecati tempore, quibusdam recusandae, quia doloremque praesentium provident eaque unde iusto.
      </p>
    </div>

    <div class="review-box pad large-12">
      <h6><b> Loved it </b></h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nisi, consequatur! Ipsam dolor iste aliquam velit eveniet,
        temporibus explicabo totam repellat nemo, placeat quibusdam reiciendis sunt? Dolores itaque dolorum, perspiciatis.
      </p>
    </div>

    <div class="review-box pad large-12">
      <h6><b> Would Buy it again </b> </h6>
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id nisi, consequatur! Ipsam dolor iste aliquam velit eveniet,
        temporibus explicabo totam repellat nemo, placeat quibusdam reiciendis sunt? Dolores itaque dolorum, perspiciatis.
      </p>
    </div>
  </div>
</div>

<div class="row pad">
  {{> footer }}
</div>